@font-face {
	font-family: dandelion;
	src: url('dandelion_in_the_spring.ttf');
}

@import url('http://fonts.googleapis.com/css?family=Ubuntu');

body {
	/*font-family: dandelion;*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	background-color: #EEE1D4;
	background-image: url('background.png');
}

h1, h2, h3, h4, h5 {
	font-family: dandelion;
}

h1 {
	text-align: center;
	font-size: 46pt;
}

h2 {
	font-size: 38pt;
}

.page-header {
	border-bottom-color: #908469;
}

.luiz {
	color: #775A50;
}

.fabi {
	color: #BE1E2D;
}

.comum {
	color: #600D0E;
}

#content { font-size: 13pt }

.jumbotron {
	background-color: #F7F0E9;
	opacity: 0.6;
	filter:alpha(opacity=60);
	padding: 10px 10px;
	margin: 0;
}

.jumbotron > p, h1 {
	color: #000000;
}

.centralizado {
	text-align: center;
}

span.qtd-destaque { font-size: 26pt }

p#legenda {
	margin-top: 10px;
	font-size: 10pt;
}

p#legenda > span {
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border: 1px solid black;
	padding: 0px 6px;
}

#pontoA {
	background-color: #77BF37;
}

#pontoB {
	background-color: #F7544C;
}

dl { margin: 0 }

#map_canvas {
	height: 100%;
	border: 1px solid #908469;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#footer {
	/*font-size: 12pt;*/
	padding: 20px 0;
	background-color: #BE1D2C;
	color: #EEE1D4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#footer > div > h1, p {
	margin: 0 0;
}

#footer-right {
	text-align: right;
	vertical-align: middle;
}